@import'color';

nav {
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  position: sticky;
  z-index: 10;
  background-color: $first;
  opacity: 70%;
  scroll-behavior: smooth;
  box-shadow: 1px 2px 1px 1px #504b4b;


  >main {
    width: 70%;
    display: flex;
    justify-content: flex-end;

    >a {
      margin: 1rem;
      color: black;

      &:hover {
        color: $third;
      }
    }
  }

}
.navBtn{
  display: none;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  z-index: 200;
  position: fixed;
  top: 2rem;
  right: 2rem;
  &:hover{
    color: rgb(0, 122, 179);
    cursor: pointer;
  }
}

.navPhone {
  transition: all 0.5s;
  transform: translateY(-200%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: whitesmoke;
  position: fixed;
  z-index: 100;
  padding: 1rem;
  top: 0;
  gap: 3rem;
  opacity: 95%;

  > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
 >a{
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight:bolder;
  &:hover{
    color: green;
  }
 }
  }

}

.navPhoneComes {
  transform: translateY(0);
}
