@import 'color';

.services {
    margin: 0;
    padding: 0;
    width: 100%;
 
       
    >h2{
        display: flex;
        justify-self: center;
        margin-top: 30px;
        margin-left: 550px;
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 2rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

> .carousel{
  width: 70%;
  padding: 5rem;
  background-color: $second;
  margin: auto;
 
  
 
}
}
